<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>
<body>
    <div class="col-sm-8 mx-auto">
        <h1>Bienvenus a Tous!</h1>
        <p style="color: black;"><b> Bienvenus sur notre application de dépôts et transfert d'argent, bien sécurisé et très fiable 
            sur toute l'étendue de la république Démocratique du Congo</b></p>
    </div>
    <a href ="/" class="btn_save">Page d'accueil</a></h1>
    <br>
    <a href ="/ajouter_utilisateur" class="btn_save">Utilisateur</a></h1>
    <br>
    <a href ="/ajouter_client" class="btn_save">AjoutClient</a></h1>
    <br>
    <a href ="/ajouter-compte" class="btn_save">AjoutCompte</a></h1>
    <br>
    <a href ="/transfer" class="btn_save">Transfert</a></h1>

    <div>

    
    </div>
</body>
</html>
