<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Table des utilisateurs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styletab.css') }}">
</head>
<body>
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type de compte</th>
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.type_compte }}</td>
                <td>{{ user.mot_de_passe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
